<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Task Delete</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ task }}"?</p>
            <input class="btn btn-primary" type="submit" value="Confirm" />
        </form>
        
        <script src="" async defer></script>
    </body>
</html>